:root{
    --navbar-color:rgb(0,0,0,0.75);
    --title-color:#bb9a63;
    --background-color:#ffffff;
    --backgroundCard-color:#ddd1c5;
    --letrasPortada-color: #ffffff;
    --letters-color:#000000;
    --tituloPortada-font: 'Mrs Saint Delafield', cursive;
    --subtituloPortada-font: 'Rufina', serif;
}